# Force language detection for Batch and VBScript
*.bat linguist-language=Batchfile
*.cmd linguist-language=Batchfile
*.vbs linguist-language=VBScript

*.ini linguist-language=INI

# Normalize line endings (Windows style)
*.bat text eol=crlf
*.cmd text eol=crlf
*.vbs text eol=crlf
*.ini text eol=crlf

# Mark scripts as text
*.ps1 text